</main>

<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  <div class="sub-third">
    <p id="fourth">&commat; Verna's blog</p>
   
    <p id="following"> Follow along on:</p>
    <div id="trap">
    <a href="" id="fifth"><i class='bx bxl-meta'></i></i></a>
    <a href="" id="fifth"><i class='bx bxl-twitter'></i></i></a>
    <a href="" id="fifth"><i class='bx bxl-whatsapp' ></i></a>
    </div><br><br>
    <a href="#">Back to top</a>
  </p>
</footer>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>